#Page1 header {
    padding: 37px 16px 20px 16px;
}

#Page1 header img {
    height: fit-content;
}

#Page1 #filters {
    display: flex;
    align-items: center;
    width: auto;
    overflow-x: auto;
    margin-inline: 16px;
    height: 29px;
    margin-bottom: 16px;
}

#Page1 #filters span {
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    color: #3A3A3B;
    display: inline-block;
    margin-inline: 12px;
    cursor: pointer;
}

#Page1 #filters span:first-of-type {
    margin-left: 0px;
}

#Page1 #filters span.active {
    background-color: rgba(237, 106, 50, 0.8);
    font-weight: 500;
    color: #fff;
    border-radius: 21px;
    padding: 4px 12px;
}

#Page1 #filteredRecipeList {
    padding-inline: 16px;
}
