#filteredRecipeList .bottom {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
    border-radius: 0 0 8px 8px;
    padding: 12px;
}

.card {
    margin-bottom: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.01);
    border-radius: 8px;    
}

.card h4 {
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;
    color: #3A3A3B;
}

.card .ingredients {
    font-size: 14px;
    color: #3A3A3B;
    font-weight: 400;
}

.card .ingredients-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 8px;
}

.card .bookmark {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    right: 12px;
    top: 8px;
    border-radius: 6px;

}

.card .bookmark svg.filled {
    fill: #F0875A;
}